<div class="fixed top-1 right-4 z-50">
  <div class="navbar bg-base-100/80 text-accent backdrop-blur-md shadow-md rounded-box border border-base-300/50">

    @if (isAuthenticated) {
    @if (!deviceService.isMobile()) {
    <app-notification-badge class="hidden md:block"/>
    }

    <div class="flex-1 px-4 flex items-center gap-3 text-sm sm:text-base">
      <div class="flex flex-row gap-1 font-semibold capitalize">
        <span>{{ user?.firstName }}</span>
        @if (!deviceService.isMobile()) {
        <span>{{ user?.lastName }}</span>
        }
      </div>
    </div>

    <div class="flex-none">
      <div class="flex items-center gap-2">
        <div class="badge badge-secondary p-4">
          <div class="flex flex-col items-center text-base sm:text-lg">
            <span>{{ (user?.progress?.totalScore || 0) | scoreFormat }}</span>
          </div>
        </div>

        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost pl-0 pr-0 rounded-full">
            <i class="ph-fill ph-user-circle text-3xl text-primary"></i>
            <i class="ph-fill ph-caret-down text-xs text-primary"></i>
          </div>

          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-50 p-2 shadow bg-base-100 rounded-box w-30">
            <li><a routerLink="/learner/profile"> <i class="ph ph-user"></i> Perfil</a></li>
            <li class="block lg:hidden"><a (click)="logout()"> <i class="ph ph-sign-out"></i> Sair</a></li>
          </ul>

        </div>

      </div>
    </div>

    } @else {
    <div class="flex items-center gap-2">
      <button class="btn btn-ghost btn-md font-normal" routerLink="/sign-in">
        <i class="ph ph-sign-in"></i>
        Entrar
      </button>

      <button class="btn btn-primary btn-md font-normal" routerLink="/sign-up">
        <i class="ph ph-user-plus"></i>
        Cadastre-se
      </button>
    </div>
    }
  </div>
</div>