<section class="flex flex-col text-accent rounded-lg gap-5">
    <header class="bg-base-200 shadow-sm items-start justify-start p-5 rounded-lg font-bold">
        <h1 class="text-sm">Selecione abaixo qual módulo deseja seguir com os desafios.</h1>
    </header>

    <div class="flex flex-wrap justify-center min-h-full gap-0.5 sm:gap-2" role="list" aria-label="Lista de módulos">
        @if (r_loading()) {
        <div class="skeleton h-50 w-50"></div>
        <div class="skeleton h-50 w-50"></div>
        <div class="skeleton h-50 w-50"></div>
        <div class="skeleton h-50 w-50"></div>
        <div class="skeleton h-50 w-50"></div>

        } @else {
        @for (module of userModulesData(); track $index) {
        <app-modules-card [title]="module.moduleName" role="listitem" 
                          [stylesCard]="{
                            text: styleCardFromUser.text,
                            icon: 'devicon-' + getLowercaseName(module.moduleName) + '-plain',
                            isNewModule: true,
                            background: styleCardFromUser.background,
                            border: styleCardFromUser.border,
                            size: 'w-40 h-70 sm:w-50 sm:h-50'
                          }"
                          [id]="module.moduleId" 
                          (clickCard)="onModuleCardClick($event)" />
        }
        }

        <div role="listitem">
            <app-modules-card [title]="'Novo Módulo'"
                              [stylesCard]="{
                              text: styleCard.text, 
                              icon: 'ph-fill ph-plus-circle ' + styleCard.text,
                              background: styleCard.background,
                              border: styleCard.border,
                              size: 'w-40 h-70 sm:w-50 sm:h-50',
                              isNewModule: true
                            }" 
                            (click)="registerModulesModal.openRegisterModulesModal()"/>
        </div>
    </div>

    <app-register-modules #registerModulesModal />
<router-outlet />
</section>