<app-user-access-container>
    <app-request-code-form />

    <p class="text-xs text-justify base-content mt-1 text-base-100">
     Informe o seu email e clique no botão “Obter código”. Você irá
     receber um email na caixa de entrada ou spam com o código. 
     Abaixo, digite o código recebido e escolha a sua nova senha.
   </p>

   <app-password-reset-form />

   <button class="btn font-normal" 
          [routerLink]="'/sign-in'" 
          routerLinkActive="router-link-active">
    <i class="ph ph-arrow-u-down-left"></i> Voltar
  </button>
</app-user-access-container>