<app-modal #modalCreateModule 
           [title]="'Adicionar Novo Módulo'">

    @if (r_loading()) {
    <div class="text-center py-4">
        <span class="loading loading-spinner loading-md"></span>
        <p class="mt-2">Carregando módulos...</p>
    </div>

    } @else {
    <div class="grid grid-cols-1 gap-3 p-2">
        @for (module of modules(); track $index) {
        <div (click)="selectModule(module)" 
                class="card bg-base-200 hover:bg-base-300 cursor-pointer transition-colors duration-200 p-4">
            <div class="card-body p-0">
                <h3 class="card-title text-lg font-semibold">{{ module.name }}</h3>
                <p class="text-sm opacity-80">{{ module.description }}</p>
            </div>
        </div>
        }
        
        @if (modules().length === 0) {
        <div class="text-center py-8">
            <p class="text-gray-500">Nenhum módulo disponível</p>
        </div>
        }
    </div>
    }
    <div class="flex justify-end mt-4 gap-2">
        <button class="btn btn-ghost ml-2" (click)="closeModal()">Cancelar</button>
    </div>

</app-modal>