.scroll-bar-primary {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 5px;

        &:hover {
            background: var(--color-primary-dark);
        }
    }

    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
}