<app-user-access-container>
    <form [formGroup]="signUpForm" class="mt-8 flex flex-col" (ngSubmit)="signUp()">
        <app-input formControlName="firstName"
                    label="Primeiro Nome"
                    [requiredLabel]="true"
                    placeholder="Digite seu primeiro nome"
                    [errorMessage]="getErrorMessage('firstName')" />
        
        <app-input formControlName="lastName"
                    label="Sobrenome"
                    [requiredLabel]="true"
                    placeholder="Digite seu sobrenome"
                    [errorMessage]="getErrorMessage('firstName')" />

        <app-input formControlName="email"
                    label="Melhor E-mail"
                    [requiredLabel]="true"
                    placeholder="exemplo@email.com"
                    [errorMessage]="getErrorMessage('firstName')" />
        
        <app-input formControlName="password" 
                    label="Senha" 
                    [requiredLabel]="true"
                    placeholder="Digite a senha"
                    [type]="hide() ? 'password' : 'text'"
                    [errorMessage]="getErrorMessage('password')" />

        <app-input  formControlName="confirmPassword" 
                    [label]="'Confirmar Senha'"
                    [requiredLabel]="true"
                    placeholder="Confirme sua senha"
                    [type]="hide() ? 'password' : 'text'"
                    [errorMessage]="getErrorMessage('confirmPassword')" />

        <div class="flex grid gap-2 my-8">
            <app-primary-button [textButton]="'Cadastrar'" [r_loading]="hide"/>
            <app-second-button routerLink="/sign-in"[textButton]="'Já tenho conta'"/>
        </div>
    </form>
</app-user-access-container>