<div class="dropdown dropdown-start">
    <button role="button" 
            class="btn btn-circle"
            [class]="buttonClass"
            [class.loading]="loading()" >

        <div class="indicator">
            <i class="ph-fill ph-bell text-xl"></i>
            @if (unreadCount() > 0) {
            <span class="badge badge-xs badge-secondary indicator-item rounded-full">
                {{ unreadCount() }}
            </span>
            }
        </div>
    </button>
      
      <div tabindex="0" class="card card-compact dropdown-content z-[1] w-64 bg-base-100 shadow">
        <div class="card-body">
          
          <div class="max-h-60 overflow-y-auto">
            
            @for (notification of notifications(); track notification.id) {
              @if(notification.active) {
              <div class="p-2 hover:bg-base-200 rounded cursor-pointer"
                   (click)="markAsRead(notification.id)" >

                <div class="flex justify-between items-start">
                  <div>
                    <div class="font-bold">{{ notification.title }}</div>
                    <div class="text-sm">{{ notification.message }}</div>
                  </div>
                  <div class="badge badge-primary badge-xs"></div>
                </div>
                <div class="text-xs text-gray-500 mt-1">
                  {{ notification.createdAt | date : 'short' }}
                </div>
              </div>
              }
            }
            @empty {
              <div class="text-center py-4">
                Nenhuma notificação não lida
              </div>
            }
          </div>
          
          <div class="card-actions justify-between mt-2">
            <button class="btn btn-sm btn-ghost" routerLink="/learner/notifications">
              Ver todas
            </button>

            <button class="btn btn-sm btn-primary" 
                    (click)="markAllAsRead()"
                    [disabled]="unreadCount() === 0" >
                Marcar todas como lidas
            </button>
          </div>
        </div>
      </div>
    </div>