<form [formGroup]="passwordResetForm" class="mt-5">
    <app-input formControlName="code" 
               label="Código" 
               [requiredLabel]="true"
               placeholder="Digite o código recebido"
               [errorMessage]="getErrorMessage('code')" />
  
    <app-input formControlName="password" 
               label="Nova senha" 
               [requiredLabel]="true"
               [type]="'password'"
               placeholder="Digite a nova senha"
               [errorMessage]="getErrorMessage('password')" />

    <app-input formControlName="confirmPassword" 
               label="Confirmação de senha"
               [requiredLabel]="true"
               [type]="'password'"
               placeholder="Digite a senha escolhida novamente"
               [errorMessage]="getErrorMessage('confirmPassword')" />

    <div class="flex grid gap-2 my-4">
      <app-primary-button [textButton]="'Redefinir senha'" 
                          [r_loading]="loading"
                          (click)="onPasswordReset()" />
    </div>
</form>